<?xml version="1.0"?>

<model>
  <name>Human</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Martin Zimmermann</name>
    <email>martin.zimmermann@tum.de</email>
  </author>


  <maintainer email="martin.zimmermann@tum.de">martin</maintainer>


  <description>
    Simulation of a human body to verify the human to drone interactions. 
  </description>
</model>
