<?xml version="1.0"?>

<model>
  <name>Iris with sensors</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Martin Zimmermann</name>
    <email>martin.zimmermann@tum.de</email>
  </author>


  <maintainer email="martin.zimmermann@tum.de">martin</maintainer>


  <description>
    Connects iris drone model with sensors.
  </description>
</model>
